<table>
  <% @page.each do |user| %>
      <%= link_to user.email, '/views/user/?email='+user.email %>
      <br/>
  <% end %>
  <tr>
    <td>
      <%= render partial: 'layouts/paging', locals: {page: @page} %>
    </td>
  </tr>
</table>