<header class="intro-header" style="background-image: url('http://animevu.com/wp-content/uploads/2016/10/Samurai-Champloo.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Организация соревнований по кендо и иайдо</h1>
          <hr class="small">
          <span class="subheading">Девелоперская версия</span>
        </div>
      </div>
    </div>
  </div>
</header>